#macro( isOdd $number $oddText $evenText ) #if( 0 == $number%2)$evenText#else $oddText#end#end

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
<title>
	Hunglish korpusz
</title>
  <!-- Column style sheet. -->
    <style type="text/css" media="screen"><!-- @import url(http://lab.mokk.bme.hu/ploneColumns.css); --></style>

    <!-- Main style sheets for CSS2 capable browsers -->
    <style type="text/css" media="screen"><!-- @import url(http://lab.mokk.bme.hu/plone.css); --></style>

 </head>
  <body class="section-index_html">
<form>
<textarea rows="5" cols="5"  name="text">
$!text
</textarea>
#foreach ($anal in $avalaibleAnalyzers )
<input type="radio" name="id" value="$anal.id" #if($anal.id == $id) checked #end /> $anal.title
#end
<input type="radio" name="field" value="left" #if($field == "left") checked #end /> hungarian
<input type="radio" name="field" value="left_stemmed" #if($field == "left_stemmed") checked #end /> stemmed hungarian
<input type="radio" name="field" value="right" #if($field == "right") checked #end /> english
<input type="radio" name="field" value="right_stemmed" #if($field == "right_stemmed") checked #end /> stemmed english



<input type="submit" value="analyze"/>
</form>
<div>

<div/>
<table border="1">
#foreach( $token in $result )
<tr>
<td>

$token.termText()
$token.positionIncrement
</td>
</tr>
#end
</table>
</body>


