img {
   border: 0px;
}
form {
    border: none;
    margin: 0;
}

textarea {
    font: 110% "Courier New", Courier, monospace; 
    border: 1px solid #8cacbb;  
    color: Black;
    background-color: white;
    width: 100%;
}
input {
    font-family: "Verdana, Geneva, Arial, Helvetica, sans-serif;
    visibility: visible;
    border: 1px solid #8cacbb;  
    color: Black;
    background-color: white;
    vertical-align: middle;
}
select {
    border: 1px solid #8cacbb;  
    color: Black;
    background-color: White;
    vertical-align: top;
}

a:link {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-style : normal;
	text-decoration : none;
   color: #336699;
}

a:visited {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
   color: #336699;
}

a:hover {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
	color: #000000;

}

a:active {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : underline;
}

a:focus {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : underline;
}

body {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	margin-bottom : 6px;
	margin-left : 6px;
	margin-right : 6px;
	margin-top : 6px;
	width: 800px;
}

.senttable {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	list-style-type : circle;
	margin-bottom : 6px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 12px;
}

.senttable .odd {
    /*every second line should be shaded */
    background-color: transparent;
}
.senttable .even {
    background-color: #f7f9fa;
   border-bottom: 1px solid #8cacbb;
}

.result td,
table td
 {
    border-bottom: 1px solid #8cacbb;
    padding: 0.5em 1em;
    text-align: left;
}

.notlast {
    border-right: 1px solid #8cacbb; 
}
div.pager {
       margin-top: 6px;
       font-size : 12px;
       text-align: center;

}
