<!DOCTYPE web-app 
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
    <servlet-name>DictWebServlet</servlet-name>
    <servlet-class>mokk.nlp.dictweb.MainServlet</servlet-class>
    <init-param>
      <param-name>component-config</param-name>
      <param-value>/WEB-INF/searcher.conf</param-value>
    </init-param>

    <init-param>
      <param-name>logger-config</param-name>
      <param-value>/WEB-INF/logger.xconf</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>mokk.nlp.dictweb.UploadServlet</servlet-class>
    <init-param>
      <param-name>component-config</param-name>
      <param-value>/WEB-INF/uploader.conf</param-value>
    </init-param>

    <init-param>
      <param-name>logger-config</param-name>
      <param-value>/WEB-INF/logger.xconf</param-value>
    </init-param>
  </servlet>


  <servlet-mapping>
    <servlet-name>DictWebServlet</servlet-name>
    <url-pattern>/search/*</url-pattern>
  </servlet-mapping>
  
</web-app>
