#macro( isOdd $number $oddText $evenText ) #if( 0 == $number%2)$evenText#else $oddText#end#end

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
<title>
	Test the morphological analyzer
</title>
  <!-- Column style sheet. -->
    <style type="text/css" media="screen"><!-- @import url(http://lab.mokk.bme.hu/ploneColumns.css); --></style>

    <!-- Main style sheets for CSS2 capable browsers -->
    <style type="text/css" media="screen"><!-- @import url(http://lab.mokk.bme.hu/plone.css); --></style>

 </head>
  <body>

<p>

<form>
<input type="text" value="$!w" name=""/>
<input type="submit" value="search"/>
</form>

<table class="listing">
#foreach( $anal in $result )
#if ( $row_class == "even" )
      #set ( $row_class = "odd" )
 #else
      #set ( $row_class = "even" )
#end
<tr class="$row_class">
<td>
$hit.stem
</td>
<td>
$hit.word
</td>
<td>
$hit.pos
</td>
<td>


$hit.leftSentence
</td>
<td>
$hit.rightSentence
</td>
	</tr>
</div>
#end
</table>
</body>


