#macro( isOdd $number $oddText $evenText ) #if( 0 == $number%2)$evenText#else $oddText#end#end

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
<title>
	Hunglish korpusz
</title>
  <!-- Column style sheet. -->
    <style type="text/css" media="screen"><!-- @import url(http://lab.mokk.bme.hu/ploneColumns.css); --></style>

    <!-- Main style sheets for CSS2 capable browsers -->
    <style type="text/css" media="screen"><!-- @import url(http://lab.mokk.bme.hu/plone.css); --></style>

 </head>
  <body class="section-index_html">
<form>
<input type="text" value="$!w" name="w"/>
#foreach ($anal in $avalaibleAnalyzers )
<input type="radio" name="id" value="$anal.id" #if($anal.id == $id) checked #end /> $anal.title
#end
<input type="submit" value="analyze"/>
</form>
<div>

<div/>
<table class="listing">
#foreach( $anal in $result )
#if ( $row_class == "even" )
      #set ( $row_class = "odd" )
 #else
      #set ( $row_class = "even" )
#end
<tr class="$row_class">

<td>
$anal.word $anal.POS
</td>
<td>
$anal.stem
</td>
<td>
$anal
</td>
	</tr>
</div>
#end
</table>
</body>


