<p>
<a href="http://mokk.bme.hu"><img src="http://mokk.bme.hu/logo.jpg"/></a>
<a href="http://www.nytud.hu"><img src="http://www.nytud.hu/images/title.gif"/></a>
</p>
<p>
<b>This is a beta test</b> of our sentence search. The sentences are translations of each other. Use this tool like a bilingual lexicon.
The sentences have been aligned automatically. We use the hunmorph morphological analyzer to find roots of the words.
</p>
<p>
<a href="http://mokk.bme.hu/eszkozok/forum/mondattar">please post your comments to the open forum</a>
</p>

<form>
Hungarian:
<input type="text" value="$!request.leftQuery" name="ql"/>
English:
<input type="text" value="$!request.rightQuery" name="qr"/>

<SELECT NAME="source">
<option value="all">all
#foreach( $s in $sources)
<option value="$s.id" #if($source.id == $s.id) selected #end > $s.title
#end
</SELECT>
<input type="button" value="reset" onclick="ql.value=''; qr.value=''"/>
<input type="submit" value="search"/>
</form>

